<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="io.grpc.netty" level="warn"/>
    <logger name="io.temporal" level="info"/>
    <logger name="io.temporal.internal.worker.Poller" level="error"/>
    <logger name="zio.temporal.internal.ZioUnsafeFacade" level="info"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>