name: Test
on:
  pull_request:
  push:
    branches: [ "*" ]
    tags: [ "*" ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Scala
        uses: olafurpg/setup-scala@v13
      - name: Cache sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier
          key: sbt-cache-${{ runner.os }}-${{ matrix.target-platform }}-${{ hashFiles('project/build.properties') }}
      - name: Check formatting
        run: sbt scalafmtCheckAll
      - name: Test
        run: sbt ";coverage;test;coverageAggregate"
      - name: Upload test results
        uses: codecov/codecov-action@v3
        with:
          directory: ./target/scala-2.13/coverage-report
